.logo {
    height: 200px;
}

.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(66, 30, 75);
    color: rgb(138, 129, 147);
    font-size: 20px;
}

.description {
    margin: 30px;
}

