.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.logo {
    height: 200px;
}

.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(66, 30, 75);
    color: rgb(147, 143, 129);
    font-size: 20px;
    
}

.dropdown {
    margin: 30px;
    font-size: 30px;
    color: purple;
    background-color: orange;
}

.resource-container {
    background-color: blue;
}