.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3vmin;
    margin-top: 3vmin;
    background-color: rgb(21, 20, 20);
    flex-wrap: wrap;
}

.logo {
    max-height: 30vmin;
 background-color: rgb(11, 10, 10);
    max-width: 80vmin;
    border-radius: 20px;
    border: 5px double transparent;
    border: 5px inset gray;
}

.logo:hover {
    border: 5px inset rgb(23, 71, 129);
}

.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(122, 122, 244);
    font-size: 3.5vmin;
    flex-wrap: wrap;
    max-width: 100vmin;
    word-wrap: normal;
    margin: 3vmin;
    border: 2px gray solid;
}

.dropdown {
    margin: 5vmin;
    font-size: 5vmin;
    color: rgb(122, 122, 244);
    padding: 5vmin;
}

.resource-container {
 background-color: rgb(21, 20, 20);
}

.dropdown_item {
    background-color: rgb(93, 116, 176);
}

.linebreak {
    max-height: 10vmin;
}

.category-title {
    color: greenyellow;
    font-size: 20px;
}

.src-title {
    font-size: 7vmin;
}

.description {
    padding: 2vmin;
}