.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 50px 20px;
    text-align: center;
}
.about-header {
  color: rgb(122, 195, 244);
  font-size: 7vmin;
  margin-top: 20px;
}

.about-me, .sug-description {
      color:rgb(146, 68, 152);
      font-size: 1.8vmin;
      text-align: center;
}

.about-me {
  display: flex;
  flex-direction: row;
}

.sug-header {
    color: rgb(122, 195, 244);
    font-size: 4vmin;
}

.me {
  height: 50vmin;
  border: 5px inset rgb(23, 71, 129);
  border-radius: 20px;
}

.my-links, .e-link {
  font-size: 2vmin;
  margin-bottom: 10vmin;
}

.blurb {
  padding: 3vmin;
  margin: 3vmin;
  border: 2px inset rgb(84, 173, 179);
  border-radius: 20px;
  align-self: center;
  text-align: center;
}

.my-a {
  margin: 2vmin;
  padding: 2vmin;
}

.sug-description {
  padding: 3vmin;
  margin: 3vmin;
  border: 2px inset rgb(84, 173, 179);
  border-radius: 20px;
  align-self: center;
  text-align: center;
}