.form-container {
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    text-align: center;
    font-family: "OpenDyslexic";
    color: gray;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 3, 70);
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.form-section, .prompt {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
}

.options {
    align-items: center;
    margin: 10px;
    width: 300px;
}

.required {
    color: red;
}

.submit-btn {
    margin: 20px;
}

input, textarea, select {
    border-radius: 5px;
    font-family: "OpenDyslexic";
    background-color: rgb(94, 89, 118);
}

input::placeholder, textarea::placeholder, select::placeholder {
    color: rgb(6, 4, 19);
}

.dropdown-heading {
    background-color: rgb(94, 89, 118);
}

.rmsc, .dropdown-container, .rmsc multi-select {
    --rmsc-bg: rgb(94, 89, 118);
    color: rgb(176, 175, 175);
}

.rmsc:selected {
    background-color: orangered;
    border-radius: 20px;
}

option:selected {
    background-color: green;
}

.dropdown-heading-dropdown-arrow:hover {
    cursor: pointer;
}