.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "OpenDyslexic";
}

.ani-logo {
  max-width: 60vmin;
  margin-top: 20px;
}

.home-description {
  color: rgb(186, 165, 186);
  font-size: 0.875rem;
  width: 80vmin;
  text-align: center;
  padding: 3vmin;
  margin: 3vmin;
  background-color: rgb(18, 17, 17);
  border-radius: 20px;
  align-self: center;
  max-width: 80vmin;
  box-shadow: black 5px 5px 5px;
  margin-top: 150px;
}

footer {
  font-size: 2vmin;
  padding: 5px;
  color: rgb(83, 77, 120);
  margin-top: 50px;
  background-color: rgb(18, 17, 17);
  box-shadow: black 2px 15px 15px 20px;
}

.page-head {
  display: flex;
  flex-direction: row;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title1 {
  color: rgb(193, 154, 0);
  font-size: 40px;
  letter-spacing: -1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title2 {
  color: rgb(0, 166, 203);
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 5px;
}
