.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "OpenDyslexic";
  background-color: black;
}

.home-header {
  color: rgb(122, 195, 244);
  font-size: 9vmin;
  margin-top: 50px;
}

.home-description {
  color: rgb(146, 68, 152);
  width: 80vmin;
  text-align: center;
}

footer {
  font-size: 1.8vmin;
  padding: 5px;
  color: rgb(83, 77, 120);
}

.list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
