.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.home-header {
  color: rgb(122, 122, 244);
  font-size: 9vmin;
  margin-top: 20px;
}

.home-logo {
  height: 60vmin;
}

.home-description {
  color:rgb(122, 122, 244);
}