.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

.logo {
  max-height: 18vmin;
  max-width: 25vmin;
  border-radius: 20px;
  padding: 0;
}

.list-header {
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 17, 17);
  box-shadow: black 5px 5px 5px;
  border-radius: 20px;
  margin: 30px;
  filter: brightness(90%);
}

.list-title {
  color: rgb(242, 238, 242);
  font-size: 25px;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 0;
}

.resources-prompt {
  color: rgb(186, 165, 186);
  font-size: 15px;
}

.resources {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(225, 221, 225);
  flex-wrap: wrap;
  word-wrap: normal;
  border-radius: 20px;
  max-width: 30vmin;
  align-content: center;
  background-color: rgb(18, 17, 17);
  box-shadow: black 5px 5px 5px;
  filter: brightness(90%);
}

.resources:hover {
  background-color: rgb(0, 0, 0);
}

.categories-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.category-icon {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  box-shadow: black 3px 3px 2px 1px;
  justify-self: flex-start;
}

.category-item {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 5px;
  align-items: center;
  background-color: rgb(46, 46, 46);
  border-radius: 20px;
}

.category-tag {
  display: flex;
  flex-direction: row;
  margin: 1vmin;
  padding-top: 5px;
  font-size: 10px;
}

.location-disc {
  align-self: center;
  padding: 5px;
}

.src-title {
  font-size: 1rem;
  color: rgb(242, 238, 242);
  padding: 0 0 5px 5px;
}

.description {
  font-size: 0.7rem;
  padding: 10px;
  color: rgb(186, 165, 186);
}

/* 
.dropdown {
    margin: 5vmin;
    font-size: 5vmin;
    color: rgb(122, 122, 244);
    padding: 5vmin;
} */

.resource-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.dropdown_item {
  background-color: rgb(93, 116, 176);
}

.searchresult {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.search-input {
  padding: 10px 10px;
  height: 52px;
  position: relative;
  width: 50vmin;
  align-self: center;
  text-align: center;
}

.search-input::before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==");
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  font-size: 20px;
  top: 11px;
  left: 16px;
  line-height: 32px;
  opacity: 0.6;
}

.search-input > input {
  width: 100%;
  font-size: 18px;
  border: none;
  line-height: 22px;
  padding: 5px 10px 5px 25px;
  height: 32px;
  position: relative;
  background-color: rgb(220, 213, 213);
}

.search-input > input:focus {
  outline: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

li {
  padding: 1vmin;
  margin: 0;
}

.main-logo {
  width: 20%;
  margin: 50px 0px 20px 0px;
  opacity: 0.4;
}

.tags {
  font-size: 5px;
}