.main-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgb(21, 20, 20);
  flex-wrap: wrap;
}

.logo {
  max-height: 18vmin;
  max-width: 30vmin;
  border-radius: 20px;
  border: 3px inset rgb(84, 173, 179);
  padding: 0;
}

.logo:hover {
  border: 3px inset rgb(23, 71, 129);
}

.resources {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(122, 122, 244);
  flex-wrap: wrap;
  word-wrap: normal;
  border: 3px rgb(92, 76, 34) inset;
  border-radius: 20px;
  max-width: 40vmin;
  max-height: 70vmin;
  align-content: center;
  background-color: rgb(39, 2, 46);
}

.resources:hover {
  background-color: rgb(2, 34, 46);
}
/* 
.dropdown {
    margin: 5vmin;
    font-size: 5vmin;
    color: rgb(122, 122, 244);
    padding: 5vmin;
} */

.resource-container {
  background-color: rgb(21, 20, 20);
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
  background-color: black;
}

.dropdown_item {
  background-color: rgb(93, 116, 176);
}

.src-title {
  font-size: 2vmin;
  color: rgb(122, 195, 244);
}

.description {
  font-size: 1.8vmin;
  padding: 0.2vmin;
  color: rgb(146, 68, 152);
}

.searchresult {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
  text-align: center;
}

.search-input {
  padding: 10px 10px;
  height: 52px;
  position: relative;
}

.search-input::before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==");
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  font-size: 20px;
  top: 11px;
  left: 16px;
  line-height: 32px;
  opacity: 0.6;
}

.search-input > input {
  width: 100%;
  font-size: 18px;
  border: none;
  line-height: 22px;
  padding: 5px 10px 5px 25px;
  height: 32px;
  position: relative;
}

.search-input > input:focus {
  outline: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

li {
  padding: 1vmin;
  margin: 0;
}

.category-tag {
  justify-content: flex-start;
  margin: 1vmin;
  font-size: 1.5vmin;
}

.main-logo {
  width: 20%;
  margin: 50px 0px 20px 0px;
  opacity: .4;
}

.list-title {
  color: rgb(122, 195, 244);
  font-size: 7vmin;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 0;
}

.resources-prompt {
  color: rgb(122, 122, 244);
  font-size: 1.8vmin;
}
