.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgb(18, 17, 17);
  z-index: 1;
  box-shadow: black 5px 5px 15px;
}

a {
  color: rgb(210, 210, 210);
}

a:hover {
  cursor: pointer;
  color: rgb(118, 118, 118);
}

.nav-a {
  margin: 2vmin;
  padding: 2vmin;
  font-family: "OpenDyslexic", Arial, Helvetica, sans-serif;
}

.nav-logo {
  height: 80px;
  margin-left: 20px;
}
