.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  text-align: center;
  justify-content: space-around;
  padding: 10px;
}

.navlinks {
  text-align: center;
  justify-content: space-around;
  background-color: aqua;
  margin: 20px;
}

a {
  color: rgb(73, 7, 57);
  justify-content: space-around;
  align-items: center;
  justify-items: space-between;
  margin: 5px;
  padding: 5px;
  padding-top: 10px;
}
